.slideIn {
  animation: slide-in 2s forwards;
}
h2{
  letter-spacing: 12px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.2rem;
  font-weight: bold;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.containerCard {
  /* Contenedor de cards como flexbox con wrap */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.total {
  display: flex;
  justify-content:center;
  padding: 10px 12px;
  margin: 20px 0;
  font-family: "Lucida Sans", sans-serif;
  letter-spacing: 6px;
  font-size: 2rem;
}

.buttons{
  
  display: flex;
  width: 100%;
  margin-top:20px;
  justify-content: center;
  align-items: flex-end;
}
.buttons button {
  border-radius: 10px;
  border: none;
  outline: none;
  height: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease;
}

.buttons button:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
}

.total span {
  font-size: 1.5rem;
  font-weight: 800;
}

@media (max-width: 600px) {
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}
