.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px 10px;
  padding: 10px auto;
}

.title {
  color: #1f2937;
}

.card {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

.card-icon {
  position: relative;
  font-size: 60px;
  cursor: pointer;
  color: #1f2937;
}

.card-icon::before{
  content: 'Add-Cart';
  position: absolute;
  bottom: 100%;
  left: 50%;
  font-size: 10px;
  
  background: black;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.card-icon:hover:before{
  opacity: 1;
}

.material-symbols-outlined {
  cursor: pointer;
  color: #1f2937;
  transition: transform 0.3s ease;
}

.material-symbols-outlined:hover {
  transform: scale(1.2);
  color: black;
}

.size-list {
  display: inline-block;
  outline: none;
  border: none;
  box-shadow: 10px 10px 20px rgba(31, 29, 29, 0.9);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 40%;
  font-weight: bolder;
  padding: 10px 10px;
  margin: 10px 8px;
  transition: transform 0.8s ease;
}

.card-img {
  text-decoration: none;
  color: black;
}

.card-info {
  width: 70%;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  padding: 15px auto;
}


.size-list:hover {
  transform: scale(1.1);
  background-color: black;
  color: #ffffff;
}

/* MOVIL */
@media (max-width: 660px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
