.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 10px;
    padding: 10px auto;

}

.title{
    color: #1F2937;
}

.size-list{
    display: inline-block; 
    outline: none;
    border: none;
    box-shadow: 10px 10px 20px rgba(31, 29, 29, 0.9);
    background-color: rgba(0,0,0,0.1);
    border-radius: 40%;
    font-weight: bolder;
    padding: 10px 10px;
    margin: 10px 8px;
    transition: transform 0.8s ease;
}

.card-img{
    text-decoration: none;
    color: black;
}


.card-info{
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow:  0 10px 30px rgba(0,0,0,0.5);
    margin: 10px 0;
    padding: 15px auto;
}

.size-list:hover{
    transform: scale(1.1);
    background-color: black;
    color: #FFFFFF;
}

/* MOVIL */
@media (max-width: 560px){
    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}