
.cart-notification{
    position: fixed;
    top: 20px;
    right: 20px;
    background: #111;
    color: white;
    padding: 12px 10px;
     border-radius: 8px;
    box-shadow:  0 8px 20px rgba(0,0,0,0.2);
    animation: slideIn 0.3s ease forwards;

}

@keyframes slideIn{
    from{
        transform: translateX(120%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}