.container-cloth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.cloth-title{
    letter-spacing: 12px;
}

.cloth {
  display: flex;
  align-items: center;
  gap: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.info-cloth {
  background-color: rgb(213, 222, 222);
  max-width: 1200px;
  width: 1000px;
  text-align: center;
  padding: 30px 10px;
  margin: 20px 20px;
  border: none;
  border-radius: 15px;
}

.size-badge {
  display: inline-block;
  padding: 8px 12px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

strong {
  color: #2563eb;
}
.size-badge:hover {
  background-color: black;
  color: white;
}

.img-cloth {
  max-width: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.img-cloth:hover {
  transform: scale(0.9);
}
