
.container-nav{
    background-color: black;
}


.nav-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transform: 0.3s;
}

.nav-button:hover{
    background-color: #333;
}